body {
    background-color: black;
    font-family: monospace;
}

#codec {
    position: fixed;
    width: 100%;
    top: -3%;
}

#button_parent {
    position: absolute;
    bottom: 200px;
}

#level_name {
    position: absolute;
    bottom: 260px;
    color: white;
}

#level_description {
    position: absolute;
    bottom: 240px;
    color: white;
}

#success_description {
    position: absolute;
    bottom: 100px;
    color: green;
}

#fail_description {
    position: absolute;
    bottom: 100px;
    color: red;
}

#rank {
    position: absolute;
    bottom: 60px;
    color: white;
}

#start_btn {
    position: absolute;
    bottom: 200px;
}

button {
    background: none;
    color: white;
    width: 500px;
    font-family: monospace;
}

.text-gold {
    color: gold;
}

.text-red {
    color: red;
}

/* source: https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(30, end);
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}
